/* Global styles */
@font-face {
  font-family: Garamonb;
  src: url(./fonts/Garamonb.ttf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgba(255,0,0,1);
}

body {
  background: linear-gradient(180deg, rgba(74,11,11,1) 0%, rgba(199,11,11,1) 49%, rgba(255,0,0,1) 100%);
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 8px;
}

/* Page styles */
.main-container {
  height: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 0 36px;
}

/* Header styles */
.main-header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header a {
  display: flex;
  align-items: center;
}

.main-header a span {
  font-family: 'Garamonb', sans-cursive;
  font-size: 30px;
}

.main-header .logo {
  width: 70px;
}

.main-header .list-options {
  font-size: 18px;
}

.list-options .option {
  display: inline-block;
  margin: 0 10px;
}

.option a {
  padding: 10px;
  border-radius: 32px;
  border: 2px solid transparent;
}

.option a:hover {
  border-color: #fff;
}

/* Content styles */
.content {
  display: flex;
  flex-direction: column;
}

/* Presentation styles */
.playdiscord {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 55px;
  margin-bottom: 20px;
}

.playdiscord > div {
}

.play-discord img {
  width: 100%;
}

.playdiscord > div h1 {
  margin-bottom: 8px;
}

.playdiscord > div h2 {
  margin-bottom: 16px;
}

.playdiscord > div p span {
  color: pink;
}

.join-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f4ae34;
  color: initial;
  font-size: 20px;
  font-weight: 700;
  width: 300px;
  height: 60px;
  margin: 20px auto;
  margin-top: 8px;
  padding: 15px;
  border-radius: 32px;
  border: none;
  transition: background-color 200ms ease-out;
}

.join-button svg {
  width: 30px;
  height: 30px;
  fill: inherit;
}

.join-button:hover {
  background-color: #facf30;
}

#vantagens {
  margin-top: 20px;
}

/* Advantages styles */
.list-advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.list-advantages .advantage {
  background-color: rgba(0,0,0, .5);
  min-height: 100px;
  padding: 20px;
  border: 1px solid #f5f6f7;
  border-radius: 8px;
}

.advantage h2 {
  margin-bottom: 16px;
}

.advantage p em {
  color: darkorchid;
  font-weight: bold;
}

/* Command types styles */
#tipos-de-comandos {
  margin-top: 100px;
}

#tipos-de-comandos .kurisu-gif {
  width: 370px;
}

#tipos-de-comandos h1 span {
  font-weight: 400;
  font-size: 14px;
}

#tipos-de-comandos > h2 {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

#tipos-de-comandos .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

#tipos-de-comandos .content > div {
  width: 100%;
}

#tipos-de-comandos .content > div h2 {
  margin-bottom: 8px;
}

#tipos-de-comandos .content > div {
  max-width: 600px;
}

#tipos-de-comandos .content > div .box {
  padding: 25px 45px;
  margin-bottom: 30px;
  border: 1px solid #f4f5f6;
  border-radius: 8px;
}

.content h2  span {
  color: #cecece;
  font-weight: 400;
}

div > .box span {
  display: block;
  font-size: 18px;
}
div > .box span:not(:last-child) {
  margin-bottom: 8px;
}

div > .box strong {
  display: inline-block;
  width: 125px;
}

