/* Global styles */
:root {
  --first-color: #B02E0C;
  --second-color: #1E212B;
  --third-color: #DDDBCB;
  --fourth-color: #63ADF2;
  --fifth-color: #69A197;
  --sixth-color: ##FCE4D8;
  --seventh-color: #D8E1FF;
  --lighty-color: #FFFAFF;
  --dark-color: #1C0221 ;
  --codigo-falado: #860c4e;
}


@font-face {
  font-family: Garamonb;
  src: url(./fonts/Garamonb.ttf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgba(255,0,0,1);
}

body {
  background: linear-gradient(180deg, rgba(74,11,11,1) 0%, rgba(199,11,11,1) 49%, rgba(255,0,0,1) 100%);
  background-repeat: no-repeat;
  font-family: 'Ubuntu', sans-serif;
  color: var(--lighty-color);
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

ul, ol {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

section h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 8px;
}

/* Page styles */
.main-container {
  height: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 0 36px;
}

/* Header styles */
.main-header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header a {
  display: flex;
  align-items: center;
  transition: color 200ms ease;
}

.main-header a:hover {
  color: var(--third-color);
}

.main-header a span {
  font-family: 'Garamonb', serif;
  font-size: 30px;
}

.main-header .logo {
  width: 70px;
}

.main-header .list-options {
  font-size: 18px;
}

.list-options .option {
  display: inline-block;
  margin: 0 10px;
}

.option a {
  padding: 10px;
  border-radius: 32px;
  border: 2px solid transparent;
  transition: border-color 100ms, color 200ms ease-in-out;
}

.option a:hover {
  border-color: var(--third-color);
  color: var(--third-color);
}

/* Content styles */
.content {
  display: flex;
  flex-direction: column;
}

/* Presentation styles */
.playdiscord {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 55px;
  margin-bottom: 20px;
}

.playdiscord > div > p:not(:last-child) {
  margin-bottom: 8px;
}

.play-discord img {
  width: 100%;
}

.playdiscord > div h1 {
  margin-bottom: 8px;
}

.playdiscord > div h2 {
  margin-bottom: 16px;
}

.playdiscord > div p a {
  color: var(--fourth-color);
  font-weight: bold;
}

.playdiscord > div p a:hover {
  color: var(--sixth-color);
}

.playdiscord > div p span {
  color: var(--fifth-color);
  font-style: italic;
}

.join-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f4ae34;
  color: initial;
  font-size: 20px;
  font-weight: 700;
  width: 300px;
  height: 60px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 32px;
  border: none;
  box-shadow: 10px 10px 10px 0px var(--dark-color);
  transition: all 120ms ease-in-out;
}

.join-button svg {
  width: 30px;
  height: 30px;
  fill: inherit;
}

.join-button:hover {
  background-color: #facf30;
  transform: scale(1.15);
}

#vantagens {
  margin-top: 20px;
}

/* Advantages styles */
.list-advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.list-advantages .advantage {
  background-color: var(--dark-color);
  min-height: 100px;
  padding: 20px;
  border: 1.5px solid var(--third-color);
  border-radius: 8px;
}

.advantage h2 {
  margin-bottom: 16px;
}

.advantage p em {
  color: var(--fifth-color);
  font-weight: bold;
}

/* Command types styles */
#tipos-de-comandos {
  margin-top: 100px;
}

#tipos-de-comandos .kurisu-gif {
  width: 370px;
}

#tipos-de-comandos h1 span {
  font-weight: 400;
  font-size: 12px;
  color: var(--seventh-color);
}

#tipos-de-comandos > h2 {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}

#tipos-de-comandos .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

#tipos-de-comandos .content > div {
  width: 100%;
}

#tipos-de-comandos .content > div h2 {
  margin-bottom: 8px;
}

#tipos-de-comandos .content > div {
  max-width: 600px;
}

#tipos-de-comandos .content > div .box {
  background-color: var(--dark-color);
  padding: 25px 45px;
  margin-bottom: 30px;
  border: 2px solid var(--third-color);
  border-radius: 8px;
}

.content h2 span {
  color: var(--seventh-color);
  font-size: 12px;
  font-weight: 400;
}

div > .box span {
  display: flex;
  font-size: 18px;
}
div > .box span:not(:last-child) {
  margin-bottom: 8px;
}

div > .box strong {
  color: var(--first-color);
  display: block;
  min-width: 125px;
  max-width: 125px;
}

/* Commands styles */
#comandos {
  margin-top: 100px;
}

#comandos .list-commands {
  margin-bottom: 20px;
}

.list-commands .command {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  border-top: 1.5px solid var(--dark-color);
}

.list-commands strong {
  color: var(--dark-color);
  font-size: 20px;
  display: inline-block;
  min-width: 140px;
  max-width: 140px;
}

.list-commands .command > div > p {
  margin-bottom: 12px;
}

.list-commands .command > div > div {
  width: 100%;
}


.list-commands .command > div > div > h3 {
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.list-commands .command > div > div > p:not(:last-child) {
  margin-bottom: 8px;
}

/* Footer styles */
footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-top: 2px solid var(--dark-color);
}

.c-falado {
  width: 50px;
  margin-right: 16px;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}

footer a ion-icon,
footer a svg {
  width: 30px;
  height: 30px;
  color: var(--lighty-color);
  fill: var(--lighty-color);
  transition: all 100ms ease-out;
}

footer a ion-icon:hover,
footer a svg:hover {
  transform: scale(1.3);
  color: var(--codigo-falado);
  fill: var(--codigo-falado);
}

.separator {
  display: block;
  width: 2px;
  background-color: var(--dark-color);
  height: 40px;
  margin: 0 auto;
}

.user-icon {
  width: 50px;
  margin-right: 16px;
}